@import "../other/colors";
@import "../other/Functions";

.h-drivers {
  .h-drivers-element {
    background: $blue-border;
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
    // &:hover {
    //   transform: scale(1.03);
    // }

    @include onlysm-xs {
      width: 100%;
      font-size: 1rem;
    }
  }
}
.h-driver-change-pass {
  margin: 2rem;
  display: block;
  color: $blue;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}
.h-add-drivers {
  position: fixed;
  width: 4rem;
  bottom: 1rem;
  z-index: 8;

  &:hover {
    transition: 0.3s transform;
    transform: scale(1.1);
  }
}
.h-order-driver-ul {
  max-height: 300px;
  min-height: max-content;
  overflow-y: scroll;
}
