$blue : #2C3E50;
$light-blue : #4A6784;
$orange : #FF9900;
$white: #F3F3F3;
$light-white:#FBFBFB;
$color:#444444;
$color2:#A5A5A5;
$green : #27AE60;
$red:#e03522;
$dark-blue:#073a59;


$bg:rgb(237, 251, 255);
$blue:rgb(0, 173, 238);
$blue-border:rgb(190, 235, 252);
$blue-input:rgb(237, 251, 255);
